.intro-card {
  background: linear-gradient(to left, rgba(20, 20, 20, 0) 20%, rgba(20, 20, 20, 0.25) 25%, rgba(20, 20, 20, 0.5) 50%, rgba(20, 20, 20, 0.75) 75%, #141414 100%), url("../../static/images/home_bg.jpg");
  background-size: cover;
  background-position: center 20%;
}
